In [4]:
import pandas as pd
f= pd.read_csv('./lecture-ipynb/datasets/energy/energy.csv', sep=',')
f.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09

In [14]:
f['date'][0]

'2016-01-11 17:00:00'

In [20]:
f['date'][0].encode('utf-8')

b'2016-01-11 17:00:00'

In [19]:
import tensorflow as tf

from tensorflow.train import BytesList, FloatList, Int64List
from tensorflow.train import Feature, Features, Example

with tf.io.TFRecordWriter("energy.tfrecord") as fw:
    for i in range(0, 17423):
        energy = Example(
            features=Features(
                feature={
                    "date": Feature(bytes_list=BytesList(value=[f['date'][i].encode('utf-8')])),
                    "Appliances": Feature(int64_list=Int64List(value=[f['Appliances'][i]])),
                }
            )
        )
        
        fw.write(energy.SerializeToString())